<%- include("partials/header") -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
  <label >Title</label>
    <input class= "form-control form-control-lg"  type="text" name="pTitle" >
    <label for="exampleFormControlTextarea1">Post</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="text1"></textarea>
 </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>



<%- include("partials/footer") -%>
